<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/header::header"></head>


<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <div th:replace="admin/header::topbar"></div>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="admin/header::leftSide"></div>
    <!-- Left Sidebar End -->


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="pull-left page-title">Editors</h4>
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">Moltran</a></li>
                            <li><a href="#">Forms</a></li>
                            <li class="active">Editors</li>
                        </ol>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">编辑天地</h3></div>
                            <div class="panel-body">
                                <form role="form" action="../article/create" method="post">
                                    <input type="hidden" name="id" th:value="${article.id}">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">标题</label>
                                        <input th:value="${article.title}" name="title" class="form-control"  placeholder="标题">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">摘要</label>
                                        <textarea class="form-control" th:text="${article.title}"  name="summary" style="height:80px;"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">标签</label>
                                        <input name="tags" th:value="${tags}" id="tags" class="form-control" value="admin,dashboard,xyz">
                                    </div>
                                    <div class="form-group" id="catalogList">
                                        <label class="col-md-2 control-label">目录</label>
                                        <select class="select2 form-control" name="catalog">
                                            <option value="">请选择</option>
                                            <option th:each="catalog:${catalogList}" th:value="${catalog.id}" th:text="${catalog.name}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group" id="type">
                                        <label class="col-md-2 control-label">type</label>
                                        <select class="select2 form-control" name="type">
                                            <option value="0">日记</option>
                                            <option value="1">文章</option>
                                            <option value="2">关于我</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea th:utext="${article.content}" class="summernote" name="content">写点什么吧...</textarea>
                                    </div>
                                    <button type="submit" class="btn btn-purple waves-effect waves-light">立即提交</button>
                                </form>


                            </div>
                        </div>
                    </div>
                </div> <!-- End row -->

            </div> <!-- container -->

        </div> <!-- content -->

        <footer th:replace="admin/footer::footer"></footer>

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->
    <div th:replace="admin/header::sideBar"></div>
    <!-- /Right-bar -->


</div>
<!-- END wrapper -->

<script>
    var resizefunc = [];
</script>

<!-- Main  -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/detect.js"></script>
<script src="../assets/js/fastclick.js"></script>
<script src="../assets/js/jquery.slimscroll.js"></script>
<script src="../assets/js/jquery.blockUI.js"></script>
<script src="../assets/js/waves.js"></script>
<script src="../assets/js/wow.min.js"></script>
<script src="../assets/js/jquery.nicescroll.js"></script>
<script src="../assets/js/jquery.scrollTo.min.js"></script>
<script src="../assets/plugins/tagsinput/jquery.tagsinput.min.js"></script>


<script src="../assets/js/jquery.app.js"></script>

<script type="text/javascript" src="../assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="../assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>

<!--form validation init-->
<script src="../assets/plugins/summernote/dist/summernote.min.js"></script>

<script>
    // Tags Input
    jQuery('#tags').tagsInput({width:'100%',height:'80px'});

    jQuery(document).ready(function(){
        $('.summernote').summernote({
            height: 600,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true,                // set focus to editable area after initializing summernote
            lang:'zh-CN',
            callbacks: {
                onImageUpload: function(files) {
                    //上传图片到服务器
                    var formData = new FormData();
                    formData.append('file',files[0]);
                    $.ajax({
                        url : 'http://www.nicecoder.cn/imageupload/imageUpload',//后台文件上传接口
                        type : 'POST',
                        data : formData,
                        processData : false,
                        contentType : false,
                        success : function(result) {
                            var jResult = JSON.parse(result);
                            $('.summernote').summernote('insertImage',jResult.data.src);
                        }
                    });
                }
            }
        });
    });
</script>


</body>
</html>