<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="admin/header::header"></head>

    <body class="fixed-left">
        
        <!-- Begin page -->
        <div id="wrapper">
        
            <!-- Top Bar Start -->
            <div th:replace="admin/header::topbar"></div>
            <!-- Top Bar End -->

            <!-- ========== Left Sidebar Start ========== -->
            <div th:replace="admin/header::leftSide"></div>
            <!-- Left Sidebar End -->


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->                      
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Basic Tables</h4>
                                <ol class="breadcrumb pull-right">
                                    <li><a href="#">Moltran</a></li>
                                    <li><a href="#">Data Tables</a></li>
                                    <li class="active">Basic Tables</li>
                                </ol>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Striped rows Table</h3>
                                    </div>



                                    <div class="panel-body">
                                        <form class="form-inline" role="form" method="get" action="../catalog/create">
                                            <div class="form-group">
                                                <label class="sr-only">add</label>
                                                <input name="name" class="form-control"  placeholder="Enter name">
                                            </div>
                                            <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">Sign in</button>
                                        </form>

                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>name</th>
                                                            <th>desc</th>
                                                            <th>count</th>
                                                            <th>option</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="catalog:${catalogList}">
                                                            <td th:text="${catalog.sort}"></td>
                                                            <td th:text="${catalog.name}"></td>
                                                            <td th:text="${catalog.des}"></td>
                                                            <td th:text="${catalog.count}"></td>
                                                            <td>
                                                                <a th:href="@{'../admin/catalog-edit.html?id='+${catalog.id}}" >.modify</a>
                                                                <a th:href="@{'../catalog/catalog-delete.html?id='+${catalog.id}}" >.delete</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End Row -->

                    </div> <!-- container -->
                               
                </div> <!-- content -->

                <footer th:replace="admin/footer::footer"></footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div th:replace="admin/header::sideBar"></div>
            <!-- /Right-bar -->


        </div>
        <!-- END wrapper -->
    
        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/detect.js"></script>
        <script src="../assets/js/fastclick.js"></script>
        <script src="../assets/js/jquery.slimscroll.js"></script>
        <script src="../assets/js/jquery.blockUI.js"></script>
        <script src="../assets/js/waves.js"></script>
        <script src="../assets/js/wow.min.js"></script>
        <script src="../assets/js/jquery.nicescroll.js"></script>
        <script src="../assets/js/jquery.scrollTo.min.js"></script>

        <script src="../assets/js/jquery.app.js"></script>
	
	</body>
</html>