<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="admin/header::header"></head>

    <body class="fixed-left">
        
        <!-- Begin page -->
        <div id="wrapper">
        
            <!-- Top Bar Start -->
            <div th:replace="admin/header::topbar"></div>
            <!-- Top Bar End -->

            <!-- ========== Left Sidebar Start ========== -->
            <div th:replace="admin/header::leftSide"></div>
            <!-- Left Sidebar End --> 


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->                      
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Editors</h4>
                                <ol class="breadcrumb pull-right">
                                    <li><a href="#">Moltran</a></li>
                                    <li><a href="#">Forms</a></li>
                                    <li class="active">Editors</li>
                                </ol>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Summernote Editor</h3></div>
                                    <div class="panel-body">
                                        <div class="form">
                                            <form class="cmxform form-horizontal tasi-form" id="commentForm" method="get" action="../catalog/create" novalidate="novalidate">
                                                <input type="hidden" name="id" th:value="${catalog.id}">
                                                <div class="form-group">
                                                    <label name="name" class="control-label col-lg-2">Name (required)</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control" th:value="${catalog.name}" name="name" type="text" required="" aria-required="true">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">E-Mail (required)</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control" th:value="${catalog.sort}" type="text" name="sort" required="" aria-required="true">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">Your Comment (required)</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" th:text="${catalog.des}"  name="des" required="" aria-required="true"></textarea>
                                                    </div>
                                                </div>

                                                <button type="submit" class="btn btn-purple waves-effect waves-light">Submit</button>
                                                <button class="btn btn-default waves-effect" type="button">Cancel</button>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End row -->

                    </div> <!-- container -->
                               
                </div> <!-- content -->

                <footer th:replace="admin/footer::footer"></footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div th:replace="admin/header::sideBar"></div>
            <!-- /Right-bar -->


        </div>
        <!-- END wrapper -->

        <script>
            var resizefunc = [];
        </script>

        <!-- Main  -->
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/detect.js"></script>
        <script src="../assets/js/fastclick.js"></script>
        <script src="../assets/js/jquery.slimscroll.js"></script>
        <script src="../assets/js/jquery.blockUI.js"></script>
        <script src="../assets/js/waves.js"></script>
        <script src="../assets/js/wow.min.js"></script>
        <script src="../assets/js/jquery.nicescroll.js"></script>
        <script src="../assets/js/jquery.scrollTo.min.js"></script>

        <script src="../assets/js/jquery.app.js"></script>

        <script type="text/javascript" src="../assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
        <script type="text/javascript" src="../assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>

        <!--form validation init-->
        <script src="../assets/plugins/summernote/dist/summernote.min.js"></script>

        <script>
        </script>

	
	</body>
</html>