<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header"></head>
<link href="../assets/layui/css/layui.css" rel="stylesheet">
<script type="text/javascript" src="../assets/layui/layui.js"></script>
<body>
<header class="header-navigation" id="header">
  <nav><div class="logo"><a href="/">个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="index.html">网站首页</a></li>
      <!--<li><a href="share.html">我的相册</a></li>-->
      <li><a href="../list.html">我的日记</a></li>
      <li><a href="../about.html">关于我</a></li>
      <li><a href="../gbook.html" id="selected">留言</a></li>
    </ul>
</nav>
</header>
<article>
  <aside class="l_box">
    <div class="about_me" th:replace="header::aboutMe"></div>
    <!--<div class="wdxc">
      <h2>我的相册</h2>
      <ul>
        <li><a href="/"><img src="../assets/base/images/7.jpg"></a></li>
        <li><a href="/"><img src="../assets/base/images/8.jpg"></a></li>
        <li><a href="/"><img src="../assets/base/images/9.jpg"></a></li>
        <li><a href="/"><img src="../assets/base/images/10.jpg"></a></li>
        <li><a href="/"><img src="../assets/base/images/11.jpg"></a></li>
        <li><a href="/"><img src="../assets/base/images/12.jpg"></a></li>
      </ul>
    </div>-->
    <div class="search">
      <form action="index.html" method="get" name="searchform" id="searchform">
        <input name="title" id="title" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
        <input name="catalog" value="" type="hidden" th:value="${catalog}">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="fenlei">
      <h2>文章分类</h2>
      <ul>
      </ul>
    </div>
    <div class="guanzhu">
      <h2>关注我 么么哒</h2>
      <ul>
        <img src="../assets/base/images/wx.jpg">
      </ul>
    </div>
  </aside>
  <main class="r_box">
<div class="gbook">

      <!--<div class="hf">
        <ul>
          <p class="zzhf"><font color="#FF0000">站长回复:</font>感谢捧场啊！看了你的网站，有两个月没更新了哦~</p>
        </ul>
      </div>-->
      <div id="comment"></div>
      <div class="gbox">
        <form action="/comment/create" method="post" name="form1" id="form1" class="layui-form">
          <input name="type" type="hidden" id="type" value="0">
          <p> <strong>来说点儿什么吧...</strong></p>

          <div class="layui-form-item">
            <!--<label class="layui-form-label">昵称:</label>-->
              <input type="text" name="name" lay-verify="required" placeholder="*昵称" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-item">
              <input type="text" name="email" lay-verify="required|email" placeholder="*邮箱" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-item">
              <input type="text" name="website" placeholder="网站" autocomplete="on" class="layui-input">
          </div>
          <div class="layui-form-item">
            <textarea id="content" lay-verify="pass" name="content" class="layui-textarea"></textarea>
          </div>

          <p>
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
          </p>
        </form>
      </div>
    </div>
  </main>
</article>
<footer th:replace="footer::footer"></footer>
<a href="#" class="cd-top">Top</a>
<script>

    $(function(){
        catalogInit();
        initComment();

        //编辑器部分
        layui.use('layedit', function(){
            layedit = layui.layedit;
            //创建富文本
            index = layedit.build('content',{
                tool: ['left', 'center', 'right', '|', 'face'],
                height: 130,
                width: 720
            });
        });
    })

    layui.use(['form'], function() {
        $ = layui.$;
        var form = layui.form;
        form.verify({
            pass: function(value, item){ //value：表单的值、item：表单的DOM对象
                var content = $("#content").val();
                if(trim(content) == ""){
                   return ("你想说的是什么呢？");
                }
            }
        });
    });

    function trim(str){
        return (str.replace(/ /g,"")).replace(/&nbsp;/ig, "");
    }

    function initComment(){
        $.ajax({
            url: '/comment/page',
            method: 'get',
            dataType:'json',
            success: function(result){
                var html = '';
                var mun = 0;
                $.each(result, function(i, val){
                    html += '<div class="fb"><ul><p class="fbtime"><span>'+ val.createTime +'</span>'+ val.name +'</p>';
                    html += '<p class="fbinfo">'+ val.content +'</p></ul></div>';
                    mun++;
                });
                $("#comment").append(html);
            }
        });
    }
</script>
</body>
</html>
