<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <title>独白_个人博客 - 一个后端开发的个人博客网站</title>
    <meta name="keywords" content="个人博客,个人博客,个人博客模板" />
    <meta name="description" content="个人博客，上海打拼3年的程序员，没什么简述，记录一下心情。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/images/logo.ico" rel="icon" type="image/x-ico">
    <link href="../assets/base/css/base.css" rel="stylesheet">
    <link href="../assets/base/css/index.css" rel="stylesheet">
    <link href="../assets/base/css/info.css" rel="stylesheet">
    <link href="../assets/base/css/m.css" rel="stylesheet">
    <script src="../assets/base/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../assets/base/js/comm.js"></script>
    <script type="text/javascript" src="../assets/base/js/common.js"></script>
    <script type="text/javascript" src="../assets/base/js/cookie.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/base/js/modernizr.js"></script>
    <![endif]-->
</head>

<div class="about_me" th:fragment="aboutMe">
    <h2>关于我</h2>
    <ul>
        <i><img src="../assets/base/images/head.jpg"></i>
        <p><b>独白</b>，做人最重要的就是开心，做一个快乐的人比什么都重要。<br></p>
    </ul>
</div>
</html>