<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header"></head>
<body>
<header class="header-navigation" id="header">
  <nav><div class="logo"><a href="/">个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="index.html" id="selected">网站首页</a></li>
      <!--<li><a href="share.html">我的相册</a></li>-->
      <li><a href="list.html">我的日记</a></li>
      <li><a href="about.html">关于我</a></li>
      <li><a href="gbook.html">留言</a></li>
    </ul>
</nav>
</header>
<article>
  <aside class="l_box">
      <div class="about_me" th:replace="header::aboutMe"></div>
      <!--<div class="wdxc">
        <h2>我的相册</h2>
        <ul>
          <li><a href="/infopic.html"><img src="../assets/base/images/7.jpg"></a></li>
          <li><a href="/infopic.html"><img src="../assets/base/images/8.jpg"></a></li>
          <li><a href="/infopic.html"><img src="../assets/base/images/9.jpg"></a></li>
          <li><a href="/infopic.html"><img src="../assets/base/images/10.jpg"></a></li>
          <li><a href="/infopic.html"><img src="../assets/base/images/11.jpg"></a></li>
          <li><a href="/infopic.html"><img src="../assets/base/images/12.jpg"></a></li>
        </ul>
      </div>-->
      <div class="search">
        <form action="index.html" method="get" name="searchform" id="searchform">
          <input name="title" id="title" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
          <input name="catalog" value="" type="hidden" th:value="${catalog}">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
      <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
        </ul>
      </div>
      <div class="tuijian">
        <h2>站长推荐</h2>
        <ul>
        </ul>
      </div>
      <div class="links">
        <h2>友情链接</h2>
        <ul>
          <a href="#">一个都没有</a>
        </ul>
      </div>
      <div class="guanzhu">
        <h2>关注我 么么哒</h2>
        <ul>
          <img src="../assets/base/images/wx.jpg">
        </ul>
      </div>
  </aside>
  <main class="r_box">
    <li th:each="article:${articles.content}">
      <i><a href="/"><img th:src="${article.cover}"></a></i>
      <h3><a th:href="${'info/'+article.id}" th:text="${article.title}">你是什么人便会遇上什么人</a></h3>
      <p th:text="${article.summary}">有时就为了一句狠话，像心头一口毒钉，永远麻痺着亲密感情交流。</p>
    </li>
  </main>
</article>
<footer th:replace="footer::footer"></footer>
<a href="#" class="cd-top">Top</a>

<script>
  $(function(){
      initPage();
      catalogInit();
      top8();
  })

  function initPage() {
      var totalPage = [[${articles.totalPages}]];
      var currentPage = [[${articles.number}]];
      var size = [[${articles.size}]];

      var nextPage = currentPage + 1;
      var html = '<div class="pagelist"><a class="allpage"><b>'+totalPage+'</b></a>&nbsp;&nbsp;';
      for (var i=0; i<totalPage; i++){
          html += '<a href="#" ';
          if(i == currentPage){
            html += 'class="curPage">'+i+'</a>&nbsp;&nbsp;';
          }else{
              html += 'onclick="page('+i+','+size+')">'+i+'</a>&nbsp;&nbsp;';
          }
      }
      if(currentPage != totalPage-1) {
          html += '<a href="#" onclick="page(' + nextPage + ',' + size + ')">下一页</a></div>';
      }
      $('main li:last-child').after(html);
  }

  function page(toPage, size){
      location.href = 'index.html?currentPage='+toPage+'&pageSize='+size;
  }
</script>
</body>
</html>
