<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header"></head>
<body>
<header class="header-navigation" id="header">
  <nav>
    <div class="logo"><a href="/">个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="/">网站首页</a></li>
      <!--<li><a href="share.html">我的相册</a></li>-->
      <li><a href="../list.html">我的日记</a></li>
      <li><a href="../about.html">关于我</a></li>
      <li><a href="../gbook.html">留言</a></li>
      <li><a href="../info.html" id="selected">内容页</a></li>
    </ul>
  </nav>
</header>
<article>
  <aside class="l_box">
    <div class="search">
      <form action="../index.html" method="get" name="searchform" id="searchform">
        <input name="title" id="title" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="fenlei">
      <h2>文章分类</h2>
      <ul>
      </ul>
    </div>
    <div class="tuijian">
      <h2>点击排行</h2>
      <ul>
      </ul>
    </div>
    <div class="cloud">
      <h2>标签云</h2>
      <ul>
      </ul>
    </div>
    <div class="guanzhu">
      <h2>关注我 么么哒</h2>
      <ul>
        <img src="../assets/base/images/wx.jpg">
      </ul>
    </div>
  </aside>
  <main>
    <div class="infosbox">
      <div class="newsview">
        <h3 class="news_title" th:text="${article.title}">个人博客，属于我的小世界！</h3>
        <div class="bloginfo">
          <ul>
            <li class="author">作者：<a href="/" th:text="${article.author}"></a></li>
            <li class="lmname"><a th:href="${'../index.html?catalog='+catalog.id}" th:text="${catalog.name}"></a></li>
           <!-- <input type="hidden" th:value="${article.catalog}" name="catalogId"/>-->
            <li class="timer" th:text="${'时间：'+article.createTime}"></li>
            <li class="view" th:text="${article.click + '人已阅读'}"></li>
          </ul>
        </div>
        <div class="tags"></div>
        <div class="news_about" th:text="${article.summary}"></div>
        <div class="news_con" th:utext="${article.content}"> </div>
      </div>
      <div class="share">
        <p class="diggit"><a href="javascript:;" onclick="agreeInit()"> 很赞哦！ </a>(<b id="diggnum" th:text="${article.agree}">13</b>)</p>
      </div>
      <div class="nextinfo">
        <p>上一篇：</p>
        <p>下一篇：</p>
      </div>
      <div class="news_pl">
        <h2>文章评论</h2>
        <div class="gbko"> 
          <!--<div class="fb">
            <ul>
              <p class="fbtime"><span>2018-07-24 08:52:48</span> 卜野</p>
              <p class="fbinfo"></p>
              <div class="ecomment"><span class="ecommentauthor">网友 家蚂蚁 的原文：</span>
                <p class="ecommenttext">坚持哟!看你每天都有写，请继续加油，再接再厉哦</p>
              </div>
            </ul>
          </div>-->
          <div id="comment"></div>

          <script>
		  function CheckPl(obj)
		  {
		  if(obj.saytext.value=="")
		  {
		  alert("您没什么话要说吗？");
		  obj.saytext.focus();
		  return false;
		  }
		  return true;
		  }
		  </script>
          <form action="/comment/create" method="post" >
            <div id="plpost">
              <p class="saying"><span><a href="#" id="commentNum"></a></span>来说两句吧...</p>
              <input type="hidden" name="discussid" th:value="${article.id}">
              <input type="hidden" name="type" th:value="1">
              <p class="yname"><span>用户名:</span>
                <input name="name" type="text" class="inputText" id="username" value="" size="16">
              </p>
              <!-- <p class="yzm"><span>验证码:</span>
                <input name="key" type="text" class="inputText" size="16">
              </p>-->
              <textarea name="content" rows="6" id="saytext"></textarea>
              <input name="imageField" type="submit" value="提交">
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</article>
<footer th:replace="footer::footer"></footer>
<a href="#" class="cd-top">Top</a>

<script>
  $(function(){
      initNextInfo();
      initArtTags();
      initAllTags();
      initComment();
      catalogInit();
      top8();
  });

  function initNextInfo(){
      var id = [[${article.id}]];
      $.ajax({
          url: '/article/near/'+id,
          method: 'get',
          dataType:'json',
          success: function(result){
              var pre = result.pre;
              var next = result.next;
              var html='';
              if(pre.id == null || typeof (pre.id) == 'undefined'){
                  html += '<p>上一篇：<a href="../index.html">返回列表</a></p>';
              }else{
                  html += '<p>上一篇：<a href="' + pre.id + '">' + pre.title + '</a></p>';
              }
              if(next.id == null || typeof (next.id) == 'undefined'){
                  html += '<p>下一篇：<a href="../index.html">返回列表</a></p>'
              }else{
                  html += '<p>下一篇：<a href="' + next.id + '">' + next.title + '</a></p>';
              }
              $(".nextinfo").html(html);
          }
      });
  }

  function initComment(){
      var id = [[${article.id}]];
      $.ajax({
          url: '/comment/page?artId='+id,
          method: 'get',
          dataType:'json',
          success: function(result){
              var html = '';
              var mun = 0;
              $.each(result, function(i, val){
                  html += '<div class="fb"><ul><p class="fbtime"><span>'+ val.createTime +'</span>'+ val.name +'</p>';
                  html += '<p class="fbinfo">'+ val.content +'</p></ul></div>';
                  mun++;
              });
              $("#comment").append(html);
              $("#commentNum").html('共有'+mun+'条评论');
          }
      });
  }

  function initArtTags(){
      var id = [[${article.id}]];
      $.ajax({
          url: '/tag/getTagsById/'+id,
          method: 'get',
          dataType:'json',
          success: function(result){
              var html = '';
              $.each(result, function(i, val){
                  html += '<a href="/index.html?tag=' + val.id + '" target="_blank">'+val.name+'</a> &nbsp;';
              });
              $(".tags").html(html);
          }
      });
  }

  function agreeInit(){
      var id = [[${article.id}]];
      var userId = '';
      $.ajax({
          url: '/agree/create',
          method: 'post',
          dataType:'json',
          data:{
              agreeId : id,
              type : '1',
              userId : userId
          },
          success: function(result){
            var diggnum = $("#diggnum").html();
            if(result.id != null){
                diggnum =  parseInt(diggnum) + 1;
                $("#diggnum").html(diggnum);
            }
          }
      });
  }
</script>
</body>
</html>
